/* ./src/styles.css */
@import 'tailwindcss';

@import '@mantine/core/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
}

:host {
  all: initial;
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root,
:host {
  /* --primary: #ef0604; */
  /* --primary-foreground: #fff9f9; */
  --secondary: #f8f9fa;
  --muted-foreground: oklch(0.556 0 0);
}

hr {
  color: oklch(0.922 0 0);
  margin-top: 8px;
  margin-bottom: 8px;
}

th, td {
  padding: 8px;
}